<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/header") %>
</head>
<body style="background-color: black">
    <%- include("../partials/navbar") %>
    <div class="container">
        <div class="mt-4 p-5 bg-secondary text-white rounded text-center">
            <h1 class="mb-4">FOOD BLOG</h1>
          </div>
          <div class="container text-center text-success">
            <h1 class="mb-4">Add New Article</h1>
            <form action="/blogs" method="POST">
                <%- include("../partials/formsdesign") %>
            </form>
    </div>
    </div>
    
</body>